<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Cadastro</title>
</head>
<body>
    <div style="background-color: #f4f4f4; padding: 20px;">
        <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #333333;">Confirmação de Cadastro</h2>
            <p style="color: #666666;">Por favor, clique no link abaixo para confirmar seu cadastro:</p>
            <a href="{{ link_email }}" style="display: inline-block; background-color: #007bff; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Confirmar Cadastro</a>
            <p style="color: #666666;">Atenciosamente,<br>Equipe Kyrios</p>
        </div>
    </div>
</body>
</html>
