<!-- Sidebar Start -->  
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="{% url 'home' %}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary" style="margin-top: 10px;"><i class="fas fa-shield-alt"></i> Kyrios Analysis</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="/static/img/user.png" alt="" style="width: 30px; height: 30px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{ request.session.username }}</h6>
                <span>Usuário</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <!-- Verificação de URL ativa -->
            <a href="{% url 'home' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Home
            </a>
            <a href="{% url 'table' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'table' %}active{% endif %}">
                <i class="fa fa-table me-2"></i>Histórico
            </a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Opções da Conta</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{% url 'signup' %}" class="dropdown-item">Criar uma nova Conta</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Sair da Conta</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Sidebar End -->

